Django==5.0.6
djangorestframework==3.15.2
django-axes==6.5.1
django-ratelimit==4.1.0
django-redis==5.4.0
dj-database-url==2.2.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
gunicorn==22.0.0
whitenoise==6.7.0
requests==2.32.3
qrcode[pil]==7.4.2
Pillow==10.4.0
paytmchecksum==1.7.0
pycryptodome==3.20.0
argon2-cffi==23.1.0
